.home{
    background: url(/read-that-book-bg.jpg);
    background-size: cover;
    background-position: center;
}

.home .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.home .row .content{
    flex: 1 1 42rem;
}

.home .row .content h3{
    color: var(--black);
    font-size: 4.5rem;
}

.home .row .content p{
    color: var(--light-color);
    font-size: 1.4rem;
    line-height: 2;
    padding: 1rem 0;
}

.home .row .book-slider{
    flex: 1 1 42rem;
    text-align: center;
    margin-top: 2rem;
    gap: 4.5rem;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1.5rem 0;
}   

.book-slider .book-swiper {
  padding: 2rem 0;
  max-width: 600px;
  overflow: hidden;
}


.book-slider img {
  height: 25rem;
}


.book-swiper .swiper-slide-active {
    transform: scale(1.2);
}














/*media queries*/

@media (max-width:768px){
    .home .row .content{
        text-align: center;
    }

    .home .row .content h3{
        font-size: 3.5rem;
    }

    .book-swiper img {
        height: 20rem;
    }
    .book-slider .book-swiper {
     padding: 2rem 0;
     max-width: 300px;
}
}